.playerRegisterTitleStyle {
    font-size: 1rem;
    text-align: center;
    color: #2a0944;
} 

.playerRegisterTitleForm {
    margin-bottom: 4em;
}

.registerStyle {
    flex-grow: 1;
}


.playerRadioStyle {
    text-align: center;
}

