.playerRegisterTitleStyle {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    text-align: center;
    color: #1C6DD0;
} 

.playerRegisterTitleForm {
    margin-bottom: 4em;
}

.playerRadioStyle {
    text-align: center;
}

.typo {
    font-family: 'Bangers', cursive;
}