.registerStyle {
    margin-bottom: 4em;
}

.registerTitleStyle {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    text-align: center;
    color: #1C6DD0;
}

.radioStyle {
    text-align: center;
    font-family: 'Bangers', cursive;
    color: #1C6DD0;
}