.registerStyle {
    margin-bottom: 4em;
    flex-grow: 1;
}

.registerTitleStyle {
    font-size: 3em;
    text-align: center;
    color: #2a0944;
}

.radioStyle {
    text-align: center;
    color: #2a0944;
}