


.teamate {
	background-color: bisque;
	display:flex ;
	align-items: row;
	justify-content: space-around ;
}

.mate {
	font-family:'ubuntu' ;
	color: #1C6DD0;
	font-weight: bold;
	padding: .5rem;
}

.teamimg{
border-radius: 60%;
align-items: center;
max-width: 20rem;
max-height: 20rem;
}
.teamimg:hover{
	
}
.teamcard{



}