.card {
    max-width: 300px;
    min-width: 300px;
    padding: 10px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.2);
    margin: 10px;
    cursor: pointer;
    min-height: 200px;
    text-align: left;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
}
.cardcontainer{
display: flex;
justify-content: space-around;
flex-wrap: wrap

}
.detailbutton{
	
	width: 15rem;
	
	align-items: center;
	text-decoration: none;
	background-color: black;
	transition: background-color 1s ease 0s;
	border: solid 1px red;
	border-radius: 0.5em;
	padding: 10px;
	margin: 0;
	font-family: 'Bangers';
}

.card-img-top{
	height: 200px;
	object-fit: contain;
}