.home {
    flex-grow: 1;
    width: 100vw;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    height: 100%;
    color: #fff;
}
.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 50%;
    width: 100%;
    background-image: url(../../../public/ella-don-fK5Oomnc-Wk-unsplash.jpg);
    background-size: cover;
    background-position: center top;
    margin: 0;
    padding: 0;
}
.section-1 p {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    width: 80%;
}

.section-2 {
    display: flex;
    height: 50%;
    width: 100%;
    background-color: black;
}
.section-2 p {
    display: none;
}

.section-2 .logo {
    display: none;
}
.section-2__links img {
    width: 50px;
    height: 50px;
    display: block;
}
.section-2__links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.button__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button__links img {
    margin: 0 auto;
    width: 90px;
    height: 90px;
}
.links {
    background-color: black;
    border: 2px solid #000;
    border-radius: 3px;
    margin-top: 5px;
}
.links a {
    color: #fff;
    margin: 3px;
    font-size: 2rem;
}

.links a:hover {
    color: #1C6DD0;
}

@media screen and (min-width:768px) {
    .home {
        flex-direction: row;
        position: relative;
        width: 100vw;
    }

    .section-1 {
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .section-1 p {
        display: none;
    }

    .section-2 {
        z-index: 1;
        width: 40%;
        height: 100%;
        -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 70% 100%, 0 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-2__links {
        display: none;
    }

    .section-2 p, .section-2 .logo {
        display: block;
    }

    .section-2 p {
        width: 70%;
        margin: 3rem 0;
        font-size: 1rem;
    }

    .section-2 .logo img{
        margin: 0 auto;
        width: 10rem;
        height: 10rem;
    }
}

@media screen and (min-width: 1025px) {

    .section-2 .logo img{
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (min-width: 1440px) {

    .section-2 .logo img{
        width: 20rem;
        height: 20rem;
    }
    .section-2 p {
        margin: 5rem 0;
        font-size: 1.5rem;
    }
}