#home
{
    background: url("../../../public/photohome.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#home:after {
    content: "";
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: hsla(180,0%,50%,0.25);
    pointer-events: none;
}

.main {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #fff8f365;
    justify-content: center;
    flex-grow: 1;
    font-family: 'Ubuntu';
    padding: 20px;
    font-weight: bold;
    color: rgb(13, 13, 13);
    text-align: justify;
    font-size: 1.2rem;
}

.main h2 {
    text-align: center;
    font-family: 'Bangers';
    color: #0f63c9;
    margin-bottom: 1em;
    font-size: 2.5rem;


}

.main span {
    text-align: center;
    margin-top: 1em;
}

.main img {
    max-height: 140px;
	max-width: 140px;
	flex-shrink: 0;
}

